<div class="wrapper">
  <div class='blog-header'></div>

  <div class="blog-content">

    <div class="blog-content-left float-left">
      <%= render partial: 'posts/post', collection: @posts, as: 'post' %>
      <%= paginate @posts %>
    </div>

    <%= render 'layouts/right_block',
    galleries: @galleries,
    posts: @menu_posts,
    note: @note,
    quote: @quote %>

    <div class="clear"></div>
  </div>
</div>
