<h2>Цитата дня</h2>
<div class="blog-content-right-i-quot-text margin-top-20"> 
  <%= quote.content.html_safe %>
  <div class="blog-content-right-i-quot-author">
    <%= quote.author %>
  </div>
</div>