<ul class="category">

  <li>
    <%= link_to galery_path('all'), rel: 'external' do %>
      <span>ALL</span> 
    <% end %>
  </li>

  <%= render partial: 'galeries/li', collection: galeries, as: :galery %>
</ul>
