
<div class="top_menu_wrapper">
  <%= render 'galeries/topmenu/ul', galeries: @galeries %>
</div>

<div class="gallery_wrapper">
  <%= render partial: 'galeries/image', collection: @images,
  locals: { galery: @galery } %>
</div>

<div class="margin-left-30">
  <%= paginate @images %>
</div>
