<ul class="category">

  <li>
    <%= link_to gallery_path('all'), rel: 'external' do %>
      <span>ALL</span>
    <% end %>
  </li>

  <%= render partial: 'galleries/li', collection: galleries, as: :gallery %>
</ul>
