<div class="top_menu_wrapper ">
  <%= render 'galleries/topmenu/ul', galleries: @galleries %>
</div>


<gallery
  gallery-id="<%= @gallery.id %>"
  image-ids="<%= @image_ids %>" >
</gallery>
<div class="clear"></div>

<div class="galary_pagination  margin-left-20">
  <% #= paginate @images %>
</div>
