<div class="top_menu_wrapper ">
  <%= render 'galleries/topmenu/ul', galleries: @galleries %>
</div>

<div class="gallery_wrapper margin-45-20">
  <%= render partial: 'galleries/image', collection: @images,
    locals: { gallery: @gallery } %>
  <% #= render 'galleries/gallery', images: @images, gallery: @gallery %>
</div>

<div class="galary_pagination  margin-left-20">
  <%= paginate @images %>
</div>
