// Descriptors

  *{
    margin: 0;
    padding: 0;

  }

  .float-left{
    float: left;
  }

  .float-right{
    float: right;
  } 

  .clear{
    clear: both;
  }

  .clear-right{
    clear: right;
  }

  .padding-bottom-20{
  padding-bottom: 20px;
  }

  .padding-bottom-30{
  padding-bottom: 30px;
  }

  .margin-bottom-10{
  margin-bottom: 10px;
  }

  .margin-bottom-30{
  margin-bottom: 30px;
  }

  .margin-left-10{
    margin-left:10px;
  }

  .margin-left-20{
    margin-left:20px;
  }

  .margin-left-30{
    margin-left:30px;
  }

  .margin-right-20{
  margin-right: 20px;
  }

  .margin-top-70{
    margin-top: 70px;
  }

  .margin-top-20{
     margin-top: 20px;
  }

  .margin-20-0{
     margin: 20px 0;
  }

  .margin-45-20{
     margin: 45px 20px;
  }


 //Main

  .main {
    width: 100%;
    background-color: #e6e6e6;
    padding-top: 30px;
    padding-bottom: 30px;
    }

  .wrapper{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    background-color: #e6e6e6;
  }

  .gallery_wrapper{
    max-width: 1600px;
  }
 
  .line{
    border-top: 1px dashed #ece6e6;
  }

  a {
    text-decoration: none;
    color: #000;
   }

   li a:hover{
    color: #000;
    }

  h2{
    padding-bottom: 5px;
    font: 24px 'NovecentowideLight';
    color: #000;
    text-transform: uppercase;
    }

 .link-more{
    text-transform: uppercase;
    float: right;
    }

.link-more:hover{
    text-transform: uppercase;
    float: right;
    color: #868686; 
    }


 .link-more:after{
    content: '';
    display: inline-block;
    width: 16px;
    height: 20px;
    background-image: image-url('arrow2.png');
    float: right;
    position: relative;
    margin-left: 10px;
    }

    .link-more:hover:after{
    content: '';
    display: inline-block;
    width: 16px;
    height: 20px;
    background-image: image-url('arrow1.png');
    float: right;
    position: relative;
    margin-left: 10px;
    }

  .date{
    color: #000;
    font-family: Georgia;
    font-size: 13px;
    font-style: italic;
    }

  .photo-gallery-loader{
    // content: "Пожалуйста подождите, чего-то там делается...";
    background: image-url('loader.gif');
    width: 33px;
    top: 50%;
    height: 32px;
    left: 50%;
    position: fixed;
    
  }

  .gallery-main{
    background-size: cover;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 69px;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    min-width: 500px;
  }



  //Pagination

  .pagination{
    margin-bottom: 30px;
    text-align: right;
    }

    .pagination .page,
    .pagination .last, 
    .pagination .next,
    .pagination .first,
    .pagination .prev{
    display: inline-block;
    background-color: #fff;
    margin-right: 10px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    }

    .pagination .first{
    width: 84px;
    }

    .pagination .prev{
    width: 118px;
    }

    .pagination .last{
    width: 115px;
    }

    .pagination .next{
    width: 120px;
    }

    .pagination .page{
    width: 36px;
    }

    .pagination .last{
      margin-right: 0px;
    }

    .pagination a{
      display: block;
      height: 100%;
    }

    .pagination .current,
    .pagination .page:hover,
    .pagination .last:hover, 
    .pagination .next:hover,
    .pagination .first:hover,
    .pagination .prev:hover{
      background-color: #a3a3a3;
      color: #fff!important;
    }

    .pagination .page a:hover,
    .pagination .last a:hover, 
    .pagination .next a:hover,
    .pagination .first a:hover,
    .pagination .prev a:hover{
      color: #fff!important;
    }

    .galary_pagination .pagination{
      text-align: left;
    }



//Top Menu

.top_menu{
  min-width: 540px;
}

  .top_menu_category{
    position: fixed;
    z-index: 1001;
    min-width: 500px;
  }


  .top_menu_category li{
    list-style-type: none;
    display: inline;  
        }

  .top_menu_a{
    background-color: #fff;
    margin-right: 5px;
    padding: 5px;
    }
  
  .top_menu_wrapper{
    padding-left: 20px;
    
  }

//Header

  #logo{
    height: 65px;
    width: 143px;
    background-image: image-url('logo.png');
    // margin: 0px 20px;
    margin-right: 20px;
    }

  #top{
    height: 65px
    }

  .header{
    height: 65px;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    background-color: rgba(255,255,255, 0.5);
    margin-bottom: 35px;
    z-index: 1001;
    }

.header-top-menu-active{
  font-weight: bold;
}

    .top_menu li{
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
    font: 13px 'NovecentowideDemiBold';
    letter-spacing: 2px;
    margin-right: 15px;
    }

    .top_menu li a:hover{
    color: #868686!important;
    }

    .menu_wrapper{
      max-width: 1200px;
      padding: 23px 0;
      margin: auto;
    }

    .header_wrapper{
      max-width: 1600px;
      // margin: auto;
      margin: 0 20px;
    }
  
//Blog header

.blog-header{
    background-color: #7c7777;
    margin-bottom: 30px;
    max-width: 1200px;
    }

.fixedratio{
  display: block;
  padding-top: 16.66%;
  background-image: image-url('5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

//Left-block
  .blog-content-left {
    max-width: 760px;
    min-width: 440px;
    width: 63.33%;
  }

  .blog-content-left-i{
    padding: 30px;
    background-color: #ffffff;
  }

  .blog-content-left-i-title{
    font: 27px 'NovecentowideMedium';
    color: #000;
    text-transform: uppercase;
  }

   .title a:hover{
    color: #868686!important; 
  }
 
  .photo{
    width: 700px;
    height: 450px;
    // background-image: image-url('1.jpg');
  }

  .text{
    color: #000;
    font: 16px/24px Arial, Helvetica, sans-serif;
  }

  .post-photo img{
    max-width: 100%!important;
    height: auto!important; 
  }

//Right block
  .blog-content-right {
    max-width: 400px;
    width: 33.33%;

   }

  .blog-content-right-i-portfolio{
   height: auto;
   background-color: #7c7777;
   background-repeat: no-repeat;
   }

   
   // .blog-content-right-i-portfolio:after{
   //  content: '';
   //  width: 190px;
   //  height: 67px;
   //  display: inline-block;
   //  position: relative;
   //  top: -240px;
   //  left: 100px;
   //  background-image: image-url('Portfolio.png');
   // }

   .blog-content-right-i-portfolio img{
    display: block;
    max-width: 400px;
    width: 100%;
    height: auto;
   }


    .blog-content-right-i-collections{
    background-color: #fff;
    padding: 25px;
    }

  .collection li{
    padding-top: 10px;
    background-color: #fff;
    list-style-type: none;
    text-transform: uppercase;
  }

  .collection li a{
    font: 14px 'NovecentowideLight';
    
    color: #000;
    text-decoration: none;
  }

  .collection li a:hover{
    color: #868686;
  }

  .blog-content-right-i-category-i{
    height: 40px;
    background-color: #fff;
    text-transform: uppercase;
    }
    
   .category a:after{
    content: '';
    display: inline-block;
    width: 16px;
    height: 20px;
    background-image: image-url('arrow2.png');
    float: right;
    position: relative;
    top: 50%;
    margin-top: -10px;
    right: 20px;
  }

  .category a:hover:after{
     background-image: image-url('arrow1.png');
  }

  .category li{
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    background-color: #fff;
    list-style-type: none;
    text-transform: uppercase;
  }

  .category li span{
    padding: 0 20px;
  }

  .category li a{
    font: 14px 'NovecentowideLight';
    color: #000;
    text-decoration: none;
    display: block;
    height: 100%;
    line-height: 40px;
    }

   .category li a:hover{
      color: #868686!important;
      
    }

   .blog-content-right-i-opens-wrapper{
    height: auto;
    }
  
  .blog-content-right-i-opens{
    padding: 25px;
    background-color: #fff;
  }

  .blog-content-right-i-opens-photo{
    padding-right: 15px;
  }

  .blog-content-right-i-opens-photo-i{
    max-width: 115px;
  }

  .blog-content-right-i-opens-a{
    display: block;
    padding-bottom: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

  .blog-content-right-i-opens-a:hover{
    text-decoration: underline;
  }

   .blog-content-right-i-quot{
    height: 140px;
    background-color: #fff;
    padding: 25px;
    }

  .blog-content-right-i-quot-author{
  text-align: right;
  padding-top: 20px;
  font-style: italic;
  }

  .blog-content-right-i-video{
    background-color: #fff;
    padding: 25px;
  }

  
//instagramm

  .instagramm_small_photo{
      height: 50px;
      width: 50px;
      background-image: image-url('2.jpg');
      margin-right: 10px;
    }

  .blog-content-right-i-instagramm{
      padding: 25px;
      height: auto;
      background-color: #fff;
  }

  .instagramm_nick{
      font-weight: bold;
    }

    .instagramm_nick:hover{
      text-decoration: underline;
    }

  .instagramm_big_photo figure{
    display: block;
    padding-top: 100%;
    background-image: image-url('3.jpg');
    background-repeat: no-repeat;
    background-size: cover;

  }

  .instagramm_more a{
    
     color: #000;  
  }

  .instagramm_more a:hover{
    color: #868686; 
  }


//Posts
.post .blog-content-left-i{
  height: 100%;
  margin-bottom: 30px;
}

.post p img{
  width: 100%;
  height: auto;
}

//Responsiv


@media (max-width:760px) {
  .blog-content-left{
    float: none;
    width: 100%;
  }
  .blog-content-right{
    margin-left: 0;
    float: left;
    width: 100%;
    max-width: 100%;
    min-width: 440px;
  }
  .blog-content-right-i-portfolio{
    max-width: 400px;
    width: 100%;
   }

   .blog-header{
    display: none;
   }
}

@media (max-width:890px) {
   .instagramm_big_photo{
    margin-top: 20px!important;
  }
}

@media (max-width:1190px) {
  .instagramm_more {
    float: none;
  }
   .instagramm_nick {
    float: none;
  }
  .instagramm_big_photo{
    margin-top: 40px;
  }
}


