<div class="header">
  <div class="header_wrapper">
    <div id="logo" class="float-left"></div>
    <div class="menu_wrapper">
    <ul class="top_menu">
      <li><%= link_to 'Главная', '/' %></li>
      <li><%= link_to 'Портфолио', gallery_path('all') %></li>
      <li><%= link_to 'Открытия', notes_path %></li>
      <!-- <li>About</li> -->
    </ul>
    </div>
  </div>
</div>
<div id="top"></div>
